/* main */
#app {
  background-color: black;
}

body {
  font-family: 'Copperplate', cursive;
  text-align: center;
  margin: 0;
}

/* title */
.title {
  font-size: 2em;
  text-align:right;
  width: 90%;
}

.title h1 {
  text-align:right;
  color: black;
}

/* search bar */
.searchContainer {
  width: 90%;
  text-align: right;
}

.searchContainer input {
  width: 10em;
  font-size: 20px;
  margin: 5px;
  background-color: #000000;
  color:#eeb85a;
  text-align: center;
  font-family: 'Copperplate', cursive;
  transition: width 0.5s ease-in-out;
}

.searchContainer input:focus {
  width: 15em;
}

/* buttons */
.searchContainer button,
.cocktail button {
  font-family: 'Copperplate', cursive;
  background-color: #000000;
  color: #eeb85a;
}

.cocktail button {
  margin: 0 2vw;
}

.searchContainer button:hover,
.cocktail button:hover {
  background-color: #eeb85a;
  color: #000000;
  cursor: pointer;
  transition-duration: 0.5s;
}

.search button {
  width: 20em;
  font-size: 20px;
  margin: 5px;
}

.random button,
.cocktail button {
  width: 20em;
  font-size: 20px;
  margin: 5px;
}


/* search results */
.search-results {
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.search-results img {
  width: 100px;
  height: 100px;
}

.search-results ul {
  list-style: none;
  padding-left: 30em;
}

.search-results li {
  margin-bottom: 2em;
}

#results-title {
  font-size: 35px;
  flex-direction: column;
  justify-content: right;
  font-size: 2em;
  text-align:right;
  width: 90%;
  color: black;
}

.result {
  display: flex;
  flex-direction: row;
}

.inner-result {
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
}

.inner-result h2 {
  text-align: left;
}

.inner-result p {
  margin-top: -1;
}

/* alert */
.alert {
  background-color: black;
}

.swal-text, .swal-title {
  color: #eeb85a;
}

.swal-overlay {
  background-color: rgba(0, 0, 0, 0.50);
}

.swal-button {
  font-family: 'Copperplate', cursive;
  color: #eeb85a;
  background-color: #000000;
}

.alert button.swal-button.swal-button--confirm:hover {
  background-color: #eeb85a;
  color: #000000;
  transition-duration: 0.5s;
}

/* cocktails display */
.container {
  margin: 0 10vw 0 10vw;
  padding-bottom: 10vh;
  display: flex;
  box-sizing: border-box;
  background-size: contain;
  background-attachment: fixed;
  min-height: 100vh;
  flex-direction: column;
  background-image: url('./images/index.jpg');
  background-position-x: center;
}

.outerContainer {
  display: flex;
  flex-direction: row;
  margin: 10vh;
  margin-left: 35em;
}

.image {
  width: 70%;
}

.image img {
  width: 70%;
}

.innerCont {
  flex-direction: column;
  text-align: left;
  width: 100%;
}

#title {
  font-size: 30px;
}

#ingredients {
  font-family: 'Segoe UI', sans-serif;
}

#instructions, #glass {
  font-family: 'Segoe UI', sans-serif;
}

#cocktailName {
  font-size: 20px;
  flex-direction: column;
  text-align:right;
  width: 90%;
  text-align:right;
  color: black;
}

.instructions, .glass {
  font-size: 17px;
  margin-top: 4px;
}

.instructions .inner {
  width: 100%;
  margin-top: 4px;
}

.glass .inner {
  width: 100%;
  margin-top: 4px;
}